<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Форма</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container mt-4">
<h1 th:text="${title}">Форма</h1>

<form th:action="${actionUrl}" th:object="${item}" method="post" class="form-container">
    <input type="hidden" th:field="*{id}"/>

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">



    <div class="form-group">
        <label for="name" class="form-label" th:text="'Название ' + ${itemName}"></label>
        <input type="text" th:field="*{name}" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
        <label for="parent" class="form-label">Родительская категория</label>
        <select th:field="*{parent.id}" class="form-control" id="parent">
            <option value="">-- Нет (корневая категория) --</option>
            <option th:each="cat : ${allCategories}"
                    th:value="${cat.id}"
                    th:text="${cat.name}"
                    th:selected="${cat.id == item.parent.id}">
            </option>
        </select>
        <div class="text-muted small">Если категория вложенная, выберите родителя</div>
    </div>

    <button type="submit" class="btn btn-success" th:text="${buttonText}"></button>
    <a th:href="${backUrl}" class="btn btn-secondary">Отмена</a>
</form>
</body>
</html>